<h1 mat-dialog-title>Add Product</h1>
<div mat-dialog-content>
  <form [formGroup]="productForm">
    <mat-form-field appearance="outline">
      <mat-label>Name</mat-label>
      <input formControlName="name" matInput placeholder="Name" />
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Category</mat-label>
      <mat-select placeholder="Select" formControlName="category">
        <mat-option value="A">A</mat-option>
        <mat-option value="A">B</mat-option>
        <mat-option value="A">C</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Select date</mat-label>
      <input matInput formControlName="date" [matDatepicker]="picker" />
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <label id="example-radio-group-label">Select Value</label>
    <mat-radio-group
      formControlName="freshness"
      aria-labelledby="example-radio-group-label"
      class="example-radio-group"
    >
      <mat-radio-button
        class="example-radio-button"
        [value]="cat"
        *ngFor="let cat of list"
        >{{ cat }}</mat-radio-button
      >
    </mat-radio-group>

    <mat-form-field appearance="outline">
      <mat-label>Price</mat-label>
      <input
        matInput
        formControlName="price"
        type="number"
        placeholder="Price"
      />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Comment</mat-label>
      <textarea formControlName="comment" matInput></textarea>
    </mat-form-field>
  </form>
</div>
<div mat-dialog-actions="'end'">
  <button mat-raised-button color="warn" mat-dialog-close>Close</button>
  <button mat-raised-button color="primary" (click)="addProduct()">
    {{ actionBtn }}
  </button>
</div>
